.App {
}

.App-logo {
  text-align: center;
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  text-align: center;
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: #e0e0e0;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Gallery {
  height: 40px;
}

.view_container {
  text-align: center;
}
.Image {
  text-align: center;
  height: 600px;
  width: 800px;
}

.Button_Previous {
  float: left;
}

.Button_Next {
  float: right;
}
